@import "photoviewer/dist/photoviewer.css";

.employee-grid {
    grid-template-columns: 48px 80px auto 159px;
    @screen sm {
        grid-template-columns: 48px 120px auto 159px;
    }
    @screen md {
        grid-template-columns: 48px 120px auto 159px;
    }
    @screen lg {
        grid-template-columns: 48px 160px 220px 120px 48px 159px;
    }
}
